In [8]:
import pandas as pd
df = pd.read_csv("sysselsattning.csv", header=1)
df

          syssels�ttning     �lder      k�n    2019
0      f�rv�rvsarbetande  16-19 �r      m�n   58826
1      f�rv�rvsarbetande  16-19 �r  kvinnor   72847
2      f�rv�rvsarbetande  20-24 �r      m�n  192696
3      f�rv�rvsarbetande  20-24 �r  kvinnor  174074
4      f�rv�rvsarbetande  25-29 �r      m�n  293352
5      f�rv�rvsarbetande  25-29 �r  kvinnor  268587
6      f�rv�rvsarbetande  30-34 �r      m�n  303019
7      f�rv�rvsarbetande  30-34 �r  kvinnor  271975
8      f�rv�rvsarbetande  35-39 �r      m�n  280522
9      f�rv�rvsarbetande  35-39 �r  kvinnor  255391
10     f�rv�rvsarbetande  40-44 �r      m�n  275085
11     f�rv�rvsarbetande  40-44 �r  kvinnor  260093
12  ej f�rv�rvsarbetande  16-19 �r      m�n  176860
13  ej f�rv�rvsarbetande  16-19 �r  kvinnor  143432
14  ej f�rv�rvsarbetande  20-24 �r      m�n  117928
15  ej f�rv�rvsarbetande  20-24 �r  kvinnor  103001
16  ej f�rv�rvsarbetande  25-29 �r      m�n   86633
17  ej f�rv�rvsarbetande  25-29 �r  kvinnor   91124
18  ej f�rv�rvsarbetande  30-34 �r      m�n   64162
19  ej f�rv�rvsarbetande  30-34 �r  kvinnor   76735
20  ej f�rv�rvsarbetande  35-39 �r      m�n   53373
21  ej f�rv�rvsarbetande  35-39 �r  kvinnor   61312
22  ej f�rv�rvsarbetande  40-44 �r      m�n   46857
23  ej f�rv�rvsarbetande  40-44 �r  kvinnor   49228

In [4]:
#1a
import pandas as pd
df = pd.read_csv("sysselsattning.csv", header=1)
amount = df["2019"].iloc[0:12].sum()
print(amount)

2706467

In [2]:
#1b
import pandas as pd 
df = pd.read_csv("sysselsattning.csv", header=1)
amount = df["2019"].iloc[13:18].sum()
print(amount)

542118

In [ ]:
#1c
#AHAHAHAHAHAHAH PYPLOT FUNGERAR INTE JAG FAN HATAR DETTA

In [13]:
#2a
import pandas as pd
df = pd.read_csv("sysselsattning.csv", header=1)
sf = df.loc[(df["sysselsättning"] == "förvärvsarbetande") & (df["kön"] == "män")]
sf["2019"].sum()

1403500

In [22]:
#2b
import pandas as pd
df = pd.read_csv("sysselsattning.csv", header=1)
sf = df.loc[(df["sysselsättning"] == "förvärvsarbetande") & (df["kön"] == "kvinnor")]
sf["2019"].sum()

1302967

In [23]:
#2c
import pandas as pd
df = pd.read_csv("sysselsattning.csv", header=1)
sf = df.loc[(df["sysselsättning"] == "ej förvärvsarbetande") & (df["kön"] == "män")]
sf["2019"].sum()

545813

In [24]:
#2d
import pandas as pd
df = pd.read_csv("sysselsattning.csv", header=1)
sf = df.loc[(df["sysselsättning"] == "ej förvärvsarbetande") & (df["kön"] == "män")]
sf["2019"].sum()

545813

In [ ]:
#2e FACKA YUOO MATPLOTLIB, Kan inte köra matblotlip pågrund av funny module ERROR AHAHHAHAHAHAH

In [25]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'