In [2]:
import pandas as pd
import matplotlib.pyplot as plt 
df = pd.read_csv("Gender_Data.csv", header=1)
df

     Male  288507  3582  6657
0  Female  319641  1411  5771

In [3]:
import pandas as pd
df = pd.read_csv("Municipality_Weekly_Data.csv", header=1)
df

       1  2020  1440         Ale    0.0  0.0.1    0 0.1
0      2  2020  1440         Ale    0.0    0.0    0   0
1      3  2020  1440         Ale    0.0    0.0    0   0
2      4  2020  1440         Ale    0.0    0.0    0   0
3      5  2020  1440         Ale    0.0    0.0    0   0
4      6  2020  1440         Ale    0.0    0.0    0   0
...   ..   ...   ...         ...    ...    ...  ...  ..
18670  1  2021  2518  Övertorneå  154.0   37.0   66  16
18671  2  2021  2518  Övertorneå  188.0   35.0   81  15
18672  3  2021  2518  Övertorneå  198.0    9.0   85   4
18673  4  2021  2518  Övertorneå  223.0   26.0   96  11
18674  5  2021  2518  Övertorneå  247.0   23.0  106  10

[18675 rows x 8 columns]

In [4]:
import pandas as pd
df = pd.read_csv("National_Daily_Deaths.csv", header=1)
df

     2020-03-11   1
0    2020-03-12   0
1    2020-03-13   1
2    2020-03-14   1
3    2020-03-15   2
4    2020-03-16   2
..          ...  ..
332  2021-02-07  16
333  2021-02-08  14
334  2021-02-09   5
335  2021-02-10   3
336  2021-02-11   1

[337 rows x 2 columns]

In [5]:
import pandas as pd
df = pd.read_csv("National_Daily_ICU_Admissions.csv", header=1)
df

     2020-03-06   1
0    2020-03-07   1
1    2020-03-08   1
2    2020-03-09   0
3    2020-03-10   2
4    2020-03-11   1
..          ...  ..
337  2021-02-07  13
338  2021-02-08  16
339  2021-02-09  17
340  2021-02-10  10
341  2021-02-11   7

[342 rows x 2 columns]

In [6]:
import pandas as pd
df = pd.read_csv("National_Total_Deaths_by_Age_Group.csv", header=1)
df

     0-9    9127    22     7
0  10-19   62180    35     3
1  20-29  107936   142    15
2  30-39  107508   194    33
3  40-49  109903   483    81
4  50-59  101188  1084   261
5  60-69   53511  1438   721
6  70-79   26476  1259  2605
7  80-89   20538   329  5239
8    90+    9980     7  3463

In [7]:
import pandas as pd
df = pd.read_csv("Regional_Daily_Cases.csv", header=1)
df

,2020-02-04,1,0,0.1,0.2,0.3,0.4,0.5,1.1,0.6,...,0.10,0.11,0.12,0.13,0.14,0.15,0.16,0.17,0.18,0.19
0,2020-02-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-02-06,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-02-07,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-02-08,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-02-09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,2021-02-07,1013,3,9,2,37,10,7,10,17,...,156,4,35,14,8,2,10,321,28,104
369,2021-02-08,1516,3,4,2,10,190,8,11,12,...,498,3,57,3,11,14,10,200,32,86
370,2021-02-09,4077,42,93,1,213,314,58,284,41,...,803,114,167,104,320,160,93,707,53,128
371,2021-02-10,4364,33,60,11,99,198,42,212,83,...,714,73,131,62,182,79,41,1070,58,123
372,2021-02-11,3807,26,68,7,115,216,37,192,64,...,800,54,92,42,156,68,28,794,57,97

In [8]:
import pandas as pd
df = pd.read_csv("Regional_Totals_Data.csv", header=1)
df

               Blekinge    7646  4790.546875    34   112
0               Dalarna   13942  4841.543945   101   302
1               Gotland    2650  4439.902344    24    44
2             Gävleborg   19426  6759.644043   150   482
3               Halland   21052  6305.863770   101   254
4   Jämtland Härjedalen    6249  4777.157715    46   100
5             Jönköping   24236  6665.584961   219   486
6                Kalmar   10391  4233.517578    61   207
7             Kronoberg   13080  6492.313965    79   284
8            Norrbotten   10977  4389.166992   114   212
9                 Skåne  103958  7545.069336   453  1474
10            Stockholm  144522  6079.809570  1530  3820
11             Sörmland   12214  4104.994141   223   389
12              Uppsala   22684  5911.709961   241   467
13             Värmland    8320  2946.029541    64   162
14         Västerbotten   11957  4400.226562    75   123
15       Västernorrland   14034  5720.062012   112   387
16          Västmanland   17408  6310.790527    88   311
17      Västra Götaland  105596  6118.382324   926  1993
18               Örebro   16934  5555.683105   135   285
19         Östergötland   21135  4540.328125   217   534